


<div class="jumbotron" ng-controller = "authorController">

    <div class = "row">
        <div class = "col-md-12">
            <form class = "form-inline well well-sm">
                <span class = "glyphicon glyphicon-search"></span>
                <div class = "form-group">
                    <input type="text" class="form-control" placeholder="Book Name"
                           aria-describedby="basic-addon1" ng-model="searchBookName"
                           id="searchString" ng-change="searchBook()">

                </div>
                <div class="form-group" >
                    <ul class="pagination">
                        <li><a href="" ng-click="pagination.prevPage()">&laquo;</a></li>
                        <li ng-repeat="n in [] | range: pagination.numPages"
                            ng-class="{active: n == pagination.page}"><a href=""
                                                                         ng-click="pagination.toPageId(n)">{{n + 1}}</a></li>
                        <li><a href="" ng-click="pagination.nextPage()">&raquo;</a></li>
                    </ul>
                </div>
            </form>
        </div>
    </div>


    <div class = "col-md-2" ng-style = "{'margin-left': '900px'}">
        <div class = "panel panel-default">
            <div class = "panel-heading">Details : </div>
            <div class = "panel-body"></div>
            <dl>
                <dt>Title</dt>
                <dd>{{selectedBookIndex.title}}</dd>
                <dt>Auhors of Book:  </dt>
                <dd><span ng-repeat = "c in selectedBookIndex.authors">{{c.authorName}} | </span></dd>
                <dt>Genres of Book:  </dt>
                <dd><span ng-repeat = "d in selectedBookIndex.genres">{{d.genreName}} | </span></dd>
            </dl>
        </div>
    </div>




  <!--  <div class="col-md-6" ng-style = "{'margin-top': '-100px'}">
        <div class="input-group">
        <input type="text" class="form-control" placeholder="Book Name"
               aria-describedby="basic-addon1" ng-model="searchBookName"
               id="searchString" ng-change="searchBook()">

    </div>
</div>-->

    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<div class="col-md-5">
            <table class="table table-bordered" >
                <tr>
                    <th>#</th>
                    <th>Book Title</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
                <tr ng-repeat = " b in bookList2 | startFrom: pagination.page * pagination.perPage | limitTo: pagination.perPage"
                    ng-style = "{'background-color' : $index== selectBookIndex ? 'lightgray' : ''}"
                    ng-click = "selectBook(b, $index)">
                    <td>{{$index}}</td>
                    <td>{{b.title}}</td>
                  <!--  <td><span ng-repeat =  "c in b.authors">{{c.authorName}}  | </span></td>
                    <td><span ng-repeat = "d in b.genres">{{d.genreName}}  | </span></td>-->
                    <td><button class="btn btn-warning" ng-click = "showBookModal(b.bookId)">Edit</button></td>
                    <td><button class="btn btn-danger" ng-click  = "deleteBook(b.bookId)">Delete</button></td>
                </tr>
            </table>

        </div>
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" id = "editBookModal1" modal = "editBookModal1">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" ng-click = "closeEditModal()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">{{title}}</h4>
                </div>
                <div class="modal-body">
                    <span>Enter Book title to Edit: </span>
                    <input type="text" ng-model = "book.title">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" ng-click = "closeEditModal()" >Close</button>
                    <button type="button" class="btn btn-primary" ng-click = "updateBook(book)">Save changes</button>
                </div>
            </div>
        </div>
    </div>


</div>

